# Notebook de tratamento do univeso envolvidos da GDO

Importa bibliotecas e lê os arquivos

In [18]:
import pandas as pd
import numpy as np
#dir_envol = r'I:\Meganz\PMMG\MySql\10 - Tbl_dimensao\gdo\tbl_envolvidos.csv'#Home
dir_envol = r'C:\Users\Geo\Documents\MEGAsync\MySql\10 - Tbl_dimensao\gdo\tbl_base_GDO_2020.xls'#Office
df_envol = pd.read_excel(dir_envol, sheet_name='tbl_envolvidos')

#dir_classif = r'I:\Meganz\PMMG\MySql\10 - Tbl_dimensao\validadores\tbl_classificadores.xlsx'#Home
dir_classif = r'C:\Users\Geo\Documents\MEGAsync\MySql\10 - Tbl_dimensao\validadores\tbl_classificadores.xlsx'#Office
df_classif  = pd.read_excel(dir_classif, sheet_name='tbl_classificadores')

Caixa Alta, remove duplicatas e cria index concatenado

In [2]:
df_classif['VALIDADOR'] = df_classif['VALIDADOR'].str.upper().fillna("")
df_classif.drop_duplicates(['MUNICIPIO', 'VALIDADOR_TIPO', 'VALIDADOR'], inplace = True)
df_classif.set_index(df_classif['MUNICIPIO'] + " " + df_classif['VALIDADOR_TIPO'] + " " + df_classif['VALIDADOR'], inplace=True, verify_integrity=True)

Caixa alta e preenchimento de valores nulos

In [3]:
df_envol['Bairro Não Cadastrado'] = df_envol['Bairro Não Cadastrado'].fillna("").str.upper()
df_envol['Logradouro Ocorrência Não Cadastrado'] = df_envol['Logradouro Ocorrência Não Cadastrado'].fillna("").str.upper()
df_envol['Logradouro Cruzamento Não Cadastrado'] = df_envol['Logradouro Cruzamento Não Cadastrado'].fillna("").str.upper()
df_envol['Complemento Endereço'] = df_envol['Complemento Endereço'].fillna("").str.upper()
df_envol['Ponto de Referência'] = df_envol['Ponto de Referência'].fillna("").str.upper()

Função classifica setores

In [4]:
def classifica_setor(row):
    mun = row['Município']
    if mun not in ('DIVINOPOLIS', 'ITAUNA', 'NOVA SERRANA', 'CARMO DO CAJURU', 'SAO GONCALO DO PARA'):
        return mun
    elif mun  in ('CARMO DO CAJURU', 'SAO GONCALO DO PARA'):
        return 'C.CAJURU/S.G.PARA'
    elif ( mun + ' N_REDS ' + row['Número REDS'] ) in df_classif.index:
        return df_classif.loc[mun + ' N_REDS ' + row['Número REDS'], 'SETOR'] 
    elif ( mun + ' BAIRRO ' + row['Bairro'].upper() ) in df_classif.index:
        return df_classif.loc[mun + ' BAIRRO ' + row['Bairro'], 'SETOR']
    elif ( mun + ' BAIRRO_NAO_CAD ' + row["Bairro Não Cadastrado"].upper() ) in df_classif.index:
        return df_classif.loc[mun + ' BAIRRO_NAO_CAD ' + row["Bairro Não Cadastrado"], 'SETOR']
    elif ( mun + ' LOGRADOURO ' + row['Logradouro Ocorrência'] ) in df_classif.index:
        return df_classif.loc[mun + ' LOGRADOURO ' + row['Logradouro Ocorrência'], 'SETOR']
    elif ( mun + ' LOGRADOURO_NAO_CAD ' + row['Logradouro Ocorrência Não Cadastrado'] ) in df_classif.index:
        return df_classif.loc[mun + ' LOGRADOURO_NAO_CAD ' + row['Logradouro Ocorrência Não Cadastrado'], 'SETOR']
    elif ( mun + ' LOGRADOURO_CRUZ ' + row['Logradouro Cruzamento'] ) in df_classif.index:
        return df_classif.loc[mun + ' LOGRADOURO_CRUZ ' + row['Logradouro Cruzamento'], 'SETOR']
    elif ( mun + ' LOGRADOURO_CRUZ_NAO_CAD ' + row['Logradouro Cruzamento Não Cadastrado'] ) in df_classif.index:
        return df_classif.loc[mun + ' LOGRADOURO_CRUZ_NAO_CAD ' + row['Logradouro Cruzamento Não Cadastrado'], 'SETOR']
    elif ( mun + ' COMPLEMENTO_END ' + row['Complemento Endereço'] ) in df_classif.index:
        return df_classif.loc[mun + ' COMPLEMENTO_END ' + row['Complemento Endereço'], 'SETOR']
    elif ( mun + ' PONTO_REF ' + row['Ponto de Referência'] ) in df_classif.index:
        return df_classif.loc[mun + ' PONTO_REF ' + row['Ponto de Referência'], 'SETOR']
    else:
        return 'other'
df_envol['SETOR'] = df_envol.apply(lambda row: classifica_setor(row), axis=1)

Função classifica fração

In [5]:
conds=[
    #07ºbpm
    df_envol['SETOR']=='BOM DESPACHO',
    df_envol['SETOR']=='MOEMA',
    df_envol['SETOR']=='MARTINHO CAMPOS',
    df_envol['SETOR']=='LAGOA DA PRATA',
    df_envol['SETOR']=='JAPARAIBA',
    df_envol['SETOR']=='LUZ',
    df_envol['SETOR']=='CORREGO DANTA',
    df_envol['SETOR']=='SANTO ANTONIO DO MONTE',
    df_envol['SETOR']=='PEDRA DO INDAIA',
    df_envol['SETOR']=='ABAETE',
    df_envol['SETOR']=='CEDRO DO ABAETE',
    df_envol['SETOR']=='PAINEIRAS',
    df_envol['SETOR']=='DORES DO INDAIA',
    df_envol['SETOR']=='ESTRELA DO INDAIA',
    df_envol['SETOR']=='QUARTEL GERAL',
    df_envol['SETOR']=='SERRA DA SAUDADE',
    df_envol['SETOR']=='POMPEU',
    df_envol['SETOR']=='MORADA NOVA DE MINAS',
    df_envol['SETOR']=='BIQUINHAS',
    #23ºbpm
    df_envol['Município'] == 'ITAUNA',
    df_envol['Município'] == 'ITATIAIUCU',
    df_envol['SETOR'].isin(['HIPER CENTRO','BOM PASTOR','ALTO GOIAS']),
    df_envol['SETOR'].isin(['PLANALTO','SAO JOSE']),
    df_envol['SETOR'] == 'CLAUDIO',
    df_envol['SETOR'].isin(['NITEROI','PORTO VELHO']),
    df_envol['Município'] == 'CARMO DO CAJURU',
    df_envol['Município'] == 'SAO GONCALO DO PARA',
    #60ºbpm
    df_envol['SETOR'].isin(['SUPER CENTRO', 'ROMEU DUARTE', 'SAO GERALDO']),
    df_envol['SETOR'] == 'PERDIGAO',
    df_envol['SETOR'] == 'ARAUJOS',
    df_envol['SETOR'].isin(['CONCESSO ELIAS', 'SANTA SARA', 'ZONA RURAL']),
    df_envol['SETOR'] == 'PITANGUI',
    df_envol['SETOR'] == 'CONCEICAO DO PARA',
    df_envol['SETOR'] == 'LEANDRO FERREIRA',
    #63ºbpm
    df_envol['SETOR'] == 'ARCOS',
    df_envol['SETOR'] == 'IGUATAMA',
    df_envol['SETOR'] == 'PAINS',
    df_envol['SETOR'] == 'BAMBUI', 
    df_envol['SETOR'] == 'MEDEIROS',
    df_envol['SETOR'] == 'TAPIRAI',
    df_envol['SETOR'] == 'FORMIGA',    
    df_envol['SETOR'] == 'CORREGO FUNDO',
    df_envol['SETOR'] == 'PIMENTA',
    df_envol['SETOR'] == 'ITAPECERICA',
    df_envol['SETOR'] == 'CAMACHO',
    df_envol['SETOR'] == 'SAO SEBASTIAO DO OESTE',
    #19ª cia pm ind
    df_envol['SETOR'] == 'PARA DE MINAS',
    df_envol['SETOR'] == 'IGARATINGA',
    df_envol['SETOR'] == 'PEQUI',
    df_envol['SETOR'] == 'SAO JOSE DA VARGINHA', 
    df_envol['SETOR'] == 'ONCA DO PITANGUI',
    df_envol['SETOR'] == 'PAPAGAIOS',
    df_envol['SETOR'] == 'MARAVILHAS',
    
]

res1 = ['50ª CIA PM',  '2º GP - 2º PEL - 50ª CIA PM', '2º PEL - 118ª CIA PM', '107ª CIA PM','2º GP - 2º PEL - 107ª CIA PM',
        '3º PEL - 107ª CIA PM', '2º GP - 3º PEL - 107ª CIA PM', '4º PEL - 107ª CIA PM', '2º GP - 4º PEL - 107ª CIA PM',
        '141ª CIA PM', '2º GP - 1º PEL - 141ª CIA PM', '3º GP - 1º PEL - 141ª CIA PM', '2º PEL - 141ª CIA PM',
        '2º GP - 2º PEL - 141ª CIA PM','3º GP - 2º PEL - 141ª CIA PM', '4º GP - 2º PEL - 141ª CIA PM', '118ª CIA PM',
        '4º PEL - 141ª CIA PM', '2º GP - 4º PEL - 141ª CIA PM']

res2 = ['51ª CIA PM','2º GP - 3º PEL - 51ª CIA PM','53ª CIA PM','139ª CIA PM','3º PEL - 139ª CIA PM', '142ª CIA PM',
        '3º PEL - 142ª CIA PM','2º GP - 3º PEL - 142ª CIA PM']

res3 = ['279ª CIA PM','3º PEL - 279ª CIA PM','2º GP - 3º PEL - 279ª CIA PM','280ª CIA PM', '3º PEL - 280ª CIA PM',
        '2º GP - 3º PEL - 280ª CIA PM', '3º GP - 3º PEL - 280ª CIA PM']

res4 = ['241ª CIA PM','2º GP - 2º PEL - 241ª CIA PM' ,'3º GP - 2º PEL - 241ª CIA PM' , '3º PEL - 241ª CIA PM',
        '2º GP - 3º PEL - 241ª CIA PM','3º GP - 3º PEL - 241ª CIA PM','290ª CIA PM','2º GP - 2º PEL - 290ª CIA PM',
        '3º GP - 2º PEL - 290ª CIA PM','3º PEL - 290ª CIA PM','2º GP - 3º PEL - 290ª CIA PM','3º GP - 3º PEL - 290ª CIA PM']

res5 = ['19ª CIA PM IND','1º GP - 3º PEL - 19ª CIA PM IND','2º GP - 3º PEL - 19ª CIA PM IND',
        '3º GP - 3º PEL - 19ª CIA PM IND','4º GP - 3º PEL - 19ª CIA PM IND','1º GP - 4º PEL - 19ª CIA PM IND',
        '2º GP - 4º PEL - 19ª CIA PM IND']
      
resf = res1 + res2 + res3 + res4 + res5

df_envol['FRACAO'] = np.select(conds,resf,default='other')

Função classifica companhia

In [6]:
conds=[
    #07ºbpm
    df_envol['SETOR'].isin(['BOM DESPACHO', 'MOEMA']),
    df_envol['SETOR'].isin(['CORREGO DANTA', 'JAPARAIBA', 'LAGOA DA PRATA', 'LUZ', 'PEDRA DO INDAIA', 'SANTO ANTONIO DO MONTE']),
    df_envol['SETOR'].isin(['MARTINHO CAMPOS', 'POMPEU']),
    df_envol['SETOR'].isin(['ABAETE', 'BIQUINHAS', 'CEDRO DO ABAETE', 'DORES DO INDAIA', 'ESTRELA DO INDAIA', 'MORADA NOVA DE MINAS', 'PAINEIRAS', 'QUARTEL GERAL', 'SERRA DA SAUDADE']),
        
    #23ºbpm
    df_envol['Município'].isin(['ITAUNA','ITATIAIUCU']),
    df_envol['SETOR'].isin(['HIPER CENTRO','BOM PASTOR','ALTO GOIAS']),
    df_envol['SETOR'].isin(['PLANALTO','SAO JOSE','CLAUDIO']),
    df_envol['SETOR'].isin(['NITEROI','PORTO VELHO','C.CAJURU/S.G.PARA']),
    
    #60ºbpm
    df_envol['SETOR'].isin(['ARAUJOS', 'PERDIGAO', 'SUPER CENTRO', 'ROMEU DUARTE', 'SAO GERALDO']),
    df_envol['SETOR'].isin(['CONCEICAO DO PARA', 'LEANDRO FERREIRA', 'PITANGUI','CONCESSO ELIAS', 'SANTA SARA', 'ZONA RURAL']),
        
    #63ºbpm
    df_envol['SETOR'].isin(['ARCOS', 'BAMBUI', 'IGUATAMA', 'MEDEIROS', 'PAINS', 'TAPIRAI']),
    df_envol['SETOR'].isin(['CAMACHO', 'CORREGO FUNDO', 'FORMIGA', 'ITAPECERICA', 'PIMENTA', 'SAO SEBASTIAO DO OESTE']),
        
    #19ª cia pm ind
    df_envol['SETOR'].isin(['IGARATINGA', 'MARAVILHAS', 'ONCA DO PITANGUI', 'PAPAGAIOS', 'PARA DE MINAS', 'PEQUI', 'SAO JOSE DA VARGINHA']),    

    ]
res1 = ['50ª CIA','107ª CIA','118ª CIA','141ª CIA']
res2 = ['51ª CIA','53ª CIA','139ª CIA','142ª CIA']
res3 = ['279ª CIA','280ª CIA']
res4 = ['241ª CIA','290ª CIA']
res5 = ['19ª CIA PM IND']
resf = res1 + res2 + res3 + res4 +res5
df_envol['CIA'] = np.select(conds,resf,default='other')

Insere coluna UEOP

In [7]:
conds=[
    df_envol['Município'].isin(['ABAETE','BIQUINHAS','BOM DESPACHO','CEDRO DO ABAETE','CORREGO DANTA',
		'DORES DO INDAIA','ESTRELA DO INDAIA','JAPARAIBA','LAGOA DA PRATA','LUZ','MARTINHO CAMPOS','MOEMA',
		'MORADA NOVA DE MINAS','PAINEIRAS','PEDRA DO INDAIA','POMPEU','QUARTEL GERAL','SANTO ANTONIO DO MONTE',
		'SERRA DA SAUDADE']),
    df_envol['Município'].isin(['CARMO DO CAJURU','CLAUDIO','DIVINOPOLIS','ITATIAIUCU','ITAUNA','SAO GONCALO DO PARA']),
    df_envol['Município'].isin(['ARAUJOS','CONCEICAO DO PARA','LEANDRO FERREIRA','NOVA SERRANA','PERDIGAO','PITANGUI']),
    df_envol['Município'].isin(['ARCOS','BAMBUI','CAMACHO','CORREGO FUNDO','FORMIGA','IGUATAMA','ITAPECERICA','MEDEIROS','PAINS','PIMENTA','SAO SEBASTIAO DO OESTE','TAPIRAI']),
    df_envol['Município'].isin(['IGARATINGA','MARAVILHAS','ONCA DO PITANGUI','PAPAGAIOS','PARA DE MINAS','PEQUI','SAO JOSE DA VARGINHA']),
]
res=['07º BPM','23º BPM','60º BPM','63º BPM','19ª CIA PM IND']
df_envol['UEOP'] = np.select(conds,res,default='other')

Identifica  as vitimas de homicidio

In [8]:
is_cv = [
    
    (df_envol ['Código Subclasse Nat Principal']=='B01121')|
    (df_envol ['Código Subclasse Natureza']=='B01121')     &
    (df_envol ['Grau Lesão'] == 'FATAL')                   &
    (df_envol ['Grupo Tipo Envolvimento'] == 'VITIMA')
          ]

df_envol['HC'] = np.select(is_cv, [1], default=0)

Calcula a diferença de tempo entre a  data hora com unicação  e  a data hora fato

In [9]:
%%time
nats_tc = ('B01121', 'C01157', 'C01158', 'D01213', 'D01217')
nats_c = ('B01148', 'C01158', 'C01159')

is_cv = [
    
    (df_envol ['Órgão Unidade Registro'] == 'POLICIA MILITAR') &
    
    (df_envol ['Código Subclasse Nat Principal'].isin(nats_tc) 
     & df_envol ['Tentado/Consumado'].isin(('CONSUMADO', 'TENTADO'))) |
    
    (df_envol ['Código Subclasse Natureza'].isin(nats_c) 
     & df_envol ['Tentado/Consumado']=='CONSUMADO') |
    
    (df_envol ['Código Subclasse Natureza'].isin(nats_tc) 
     & df_envol ['Tentado/Consumado'].isin(('CONSUMADO', 'TENTADO'))) |
    
    (df_envol ['Código Subclasse Natureza'].isin(nats_c) 
     & df_envol ['Tentado/Consumado']=='CONSUMADO') &
    
    (df_envol ['Prisão / Apreensão'].isin(('FLAGRANTE DE ATO INFRACIONAL', 'FLAGRANTE DE CRIME / CONTRAVENCAO')))
 
        ]

df_envol['NPAA'] = np.select(is_cv, [1], default=0)

Wall time: 98 ms

C:\Users\Geo\Anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

Converte os campos data de string para date e time

In [10]:
df_envol['Data Fato'] =  pd.to_datetime(df_envol['Data Fato'], format='%d/%m/%Y', errors = 'coerce').dt.date
df_envol['Horário Fato'] = pd.to_datetime(df_envol['Horário Fato'], format='%H:%M:%S', errors = 'coerce').dt.time

df_envol['Data Última Atualização'] = pd.to_datetime(df_envol['Data Última Atualização'], format='%d/%m/%Y', errors = 'coerce').dt.date

Renomeia cada campo para melhorar a nomeclatura

In [11]:
df_envol = df_envol.rename(columns={    'Número REDS' : 'NREDS', 
                                        'Órgão Unidade Registro' : 'ORG_UN_REG', 
                                        'Unidade Área Militar' : 'UN_AREA_MIL', 
                                        'Unid Registro Nível 6' : 'UN_REGISTRO', 
                                        'Código Subclasse Nat Principal' : 'COD_DIAO', 
                                        'Tentado/Consumado Nat Principal' : 'T_C', 
                                        'Código Subclasse Natureza' : 'COD_DELITO', 
                                        'Tentado/Consumado' : 'T_C_DELITO',
                                        'Grau Lesão' : 'GRAU_LESAO', 
                                        'Tipo Envolvimento' : 'TIPO_ENVOLVIMENTO', 
                                        'Grupo Tipo Envolvimento' : 'GRUPO_TIPO_ENVOL', 
                                        'Prisão / Apreensão' : 'PRISAO_APREES', 
                                        'Data Fato' :  'DATA_FATO', 
                                        'Horário Fato' : 'HORA', 
                                        'Data Última Atualização' :  'DATA_ULT_ATT', 
                                        'Logradouro Ocorrência - Tipo' : 'LOG_TIPO', 
                                        'Logradouro Ocorrência' : 'LOGRADOURO', 
                                        'Logradouro Ocorrência Não Cadastrado' : 'LOGRADOURO_NAO_CAD', 
                                        'Logradouro Cruzamento' : 'LOGRADOURO_CRUZ', 
                                        'Logradouro Cruzamento Não Cadastrado' : 'LOGRADOURO_CRUZ_NAO_CAD', 
                                        'Número Logradouro' : 'N_LOG', 
                                        'Bairro' : 'BAIRRO', 
                                        'Bairro Não Cadastrado' : 'BAIRRO_NAO_CAD', 
                                        'Complemento Endereço' : 'COMPLEMENTO_END', 
                                        'Ponto de Referência' : 'PONTO_REF', 
                                        'Município' : 'MUNICIPIO', 
                                        'Latitude' :  'LATITUDE',  
                                        'Longitude' :  'LONGITUDE', 
                                        'Nome Envolvido' : 'NOME_ENVOL', 
                                        'Data Nascimento' : 'DATA_NASC', 
                                        'Sexo' : 'SEXO', 
                                        'Cútis' : 'CUTIS', 
                                        'Idade Aparente' : 'IDADE', 
                                        'Estado Civil' : 'ESTADO_CIVIL', 
                                        'Ocupação Atual' : 'OCUPACAO', 
                                        'Escolaridade' : 'ESCOLARIDADE', 
                                        'Logradouro Envolvido' : 'LOGRADOURO_ENVOL', 
                                        'Bairro Envolvido' : 'BAIRRO_ENVOL', 
                                        'Tipo Logradouro Envolvido' : 'TIPO_LOG_ENVOL', 
                                        'Município Envolvido' : 'MUNICIPIO_ENVOL', 
                                        'Qtde Envolvidos' : 'QTDE_ENVOL', 

                              })

Salva em xlsx o resultado dos registros que não foram classificados

In [12]:
df_invalidos = df_envol.loc[df_envol['SETOR']== 'other']
#save_invalidos = r"C:\Users\Evandro\Desktop\invalidos_env.xlsx"
save_invalidos = r"C:\Users\Geo\Desktop\invalidos_env.xlsx"
df_invalidos.to_excel(save_invalidos, sheet_name='invalidados', index = False)
df_invalidos.groupby(['SETOR'])['NREDS'].nunique()

Series([], Name: NREDS, dtype: int64)

Salva em planilha xlsx o resultado do processo

In [13]:
%%time
save = r"C:\Users\Geo\Desktop\tbl_envolvidos_setores.xlsx"
df_envol.to_excel(save, sheet_name='validados', index = False)

Wall time: 13.2 s

Insere os dados na tabela do mysql

In [14]:
%%time
import sqlalchemy
engine = sqlalchemy.create_engine('mysql+mysqlconnector://root:seo@localhost:3306/gdo')

df_envol.to_sql(
    name='tbl_envolvidos', # database table name
    con=engine,
    if_exists='replace',
    index=False
)

Wall time: 10.4 s

Insere os dados na tabela do SGBD SQLite

In [15]:
%%time
#df_crimes.to_sql('tbl_crimes', 'sqlite:///gdo2.db', if_exists='replace', index=False)

#df_envol.to_sql('tbl_envolvidos', r'sqlite:///C:\Users\Evandro\pandas\gdo.db', if_exists='replace', index=False)#home
df_envol.to_sql('tbl_envolvidos', r'sqlite:///C:\Users\Geo\gdo\gdo.db', if_exists='replace', index=False)#Office

Wall time: 13.4 s