In [1]:
import pandas as pd
import numpy as np

dir_crimes = r'I:\Meganz\PMMG\MySql\10 - Tbl_dimensao\gdo\tbl_crimes.csv'#Home
df_crimes = pd.read_csv(dir_crimes, sep=";", encoding='utf8', low_memory =False)

In [4]:
df_crimes.filter(items = ['Código Subclasse Nat Principal', 'Unid Digitação Nível 6']).head()

  Código Subclasse Nat Principal   Unid Digitação Nível 6
0                         C01155    50 CIA PM/7 BPM/7 RPM
1                         C01155  142 CIA PM/23 BPM/7 RPM
2                         C01155  279 CIA PM/60 BPM/7 RPM
3                         C01155   51 CIA PM/23 BPM/7 RPM
4                         C01155      19 CIA PM IND/7 RPM

In [26]:
# pega a  colunas  que começam com
df_crimes.filter(like ='Cód.').head()

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [25]:
# pega a  colunas  com expressão regular
df_crimes.filter(regex ='Cód.').head()

,Código Subclasse Nat Principal,Código Subclasse Nat Sec1,Código Subclasse Nat Sec2,Código Subclasse Nat Sec3
0,C01155,7777777,7777777,7777777
1,C01155,7777777,7777777,7777777
2,C01155,7777777,7777777,7777777
3,C01155,7777777,7777777,7777777
4,C01155,7777777,7777777,7777777