In [32]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import pendulum
df = pd.read_sql_table('tbl_crimes', 'sqlite:///gdo.db',
                       columns =['NREDS', 'COD_DIAO', 'COD_DIAO1', 'COD_DIAO2','COD_DIAO3','T_C', 'DATA_FATO', 'MUNICIPIO','CIA', 'UEOP', 'QTDE'])

In [33]:
date_init_before = '2019-01-01'
date_ende_before = '2019-07-23'

date_init_actual = '2020-01-01'
date_ende_actual = '2020-07-24'

In [34]:

df_cv = df.loc[
    (
        (df['COD_DIAO'] == 'C01157') 
    )
    
                                        & 
    (
        
    
    (df['DATA_FATO']>=date_init_actual) & (df['DATA_FATO']<=date_ende_actual)
        
    )
]
df_cv

,NREDS,COD_DIAO,COD_DIAO1,COD_DIAO2,COD_DIAO3,T_C,DATA_FATO,MUNICIPIO,CIA,UEOP,QTDE
6760,2020-000106857-001,C01157,7777777,7777777,7777777,CONSUMADO,2020-01-01,ITAUNA,51ª CIA,23º BPM,1
6762,2020-000206840-001,C01157,7777777,7777777,7777777,CONSUMADO,2020-01-01,PARA DE MINAS,19ª CIA PM IND,19ª CIA PM IND,1
6765,2020-000345619-001,C01157,7777777,7777777,7777777,CONSUMADO,2020-01-01,ITATIAIUCU,51ª CIA,23º BPM,1
6768,2020-000133938-001,C01157,7777777,7777777,7777777,CONSUMADO,2020-01-02,NOVA SERRANA,280ª CIA,60º BPM,1
6774,2020-000220318-001,C01157,7777777,7777777,7777777,CONSUMADO,2020-01-02,NOVA SERRANA,279ª CIA,60º BPM,1
...,...,...,...,...,...,...,...,...,...,...,...
51824,2020-022944892-001,C01157,7777777,7777777,7777777,CONSUMADO,2020-05-14,TAPIRAI,241ª CIA,63º BPM,1
51825,2020-022381823-001,C01157,7777777,7777777,7777777,CONSUMADO,2020-05-11,CORREGO DANTA,107ª CIA,07º BPM,1
51827,2020-015742370-001,C01157,7777777,7777777,7777777,CONSUMADO,2020-03-31,CORREGO DANTA,107ª CIA,07º BPM,1
51862,2020-014975322-001,C01157,7777777,7777777,7777777,CONSUMADO,2020-03-26,CORREGO DANTA,107ª CIA,07º BPM,1
51883,2020-013182420-001,C01157,7777777,7777777,7777777,CONSUMADO,2020-03-14,BAMBUI,241ª CIA,63º BPM,1

In [50]:
df_cv['NREDS'].count()


d = df_cv.groupby('COD_DIAO')
d.first()

,NREDS,COD_DIAO1,COD_DIAO2,COD_DIAO3,T_C,DATA_FATO,MUNICIPIO,CIA,UEOP,QTDE
COD_DIAO,,,,,,,,,,
C01157,2020-000106857-001,7777777,7777777,7777777,CONSUMADO,2020-01-01,ITAUNA,51ª CIA,23º BPM,1