In [107]:
import pandas as pd
import numpy as np
from datetime import datetime
df = pd.read_sql_table('tbl_envolvidos', 'sqlite:///gdo.db',
                       columns =['NREDS', 'COD_DIAO', 'T_C', 'COD_DELITO', 'T_C_DELITO',
                                 'DATA_FATO', 'CIA', 'UEOP', 'QTDE_ENVOL'])

In [53]:
df.count()

NREDS         12886
COD_DIAO      12886
T_C           12886
COD_DELITO    12886
T_C_DELITO    12886
DATA_FATO     12886
CIA           12886
UEOP          12886
QTDE_ENVOL    12886
dtype: int64

In [2]:
df.groupby(['UEOP'])['CIA'].value_counts()

UEOP            CIA
07º BPM         107ª CIA          1068
                118ª CIA           649
                50ª CIA            644
                141ª CIA           391
19ª CIA PM IND  19ª CIA PM IND    1020
23º BPM         142ª CIA          1913
                139ª CIA          1297
                51ª CIA           1019
                53ª CIA            661
60º BPM         279ª CIA          1624
                280ª CIA          1506
                other               10
63º BPM         290ª CIA           750
                241ª CIA           334
Name: CIA, dtype: int64

In [54]:
#df.loc[:,'DATA_FATO'].dt.month
df['DATA_FATO'].dt.year

0        2019
1        2019
2        2019
3        2019
4        2019
         ...
12881    2020
12882    2020
12883    2020
12884    2020
12885    2020
Name: DATA_FATO, Length: 12886, dtype: int64

In [55]:
df.groupby(['UEOP'])['CIA'].value_counts()

df.groupby(df['DATA_FATO'].dt.year).count()
           #df.groupby(['Animal']).mean()

,NREDS,COD_DIAO,T_C,COD_DELITO,T_C_DELITO,DATA_FATO,CIA,UEOP,QTDE_ENVOL
DATA_FATO,,,,,,,,,
2019,9391,9391,9391,9391,9391,9391,9391,9391,9391
2020,3495,3495,3495,3495,3495,3495,3495,3495,3495

In [3]:
#df.query('AveragePrice <= 1')
#df.query('type != "conventional"')
df.query('UEOP == "23º BPM" & CIA  in["53ª CIA", "142ª CIA"]', inplace = True)
df.groupby(['UEOP'])['CIA'].value_counts()

UEOP     CIA
23º BPM  142ª CIA    1913
         53ª CIA      661
Name: CIA, dtype: int64

In [46]:
df.count()

NREDS        11214
COD_DIAO     11214
DATA_FATO    11214
CIA          11214
UEOP         11214
QTDE         11214
dtype: int64

In [51]:
df.query('COD_DIAO == "B01121" & T_C == "CONSUMADO" | COD_DELITO in ["B01121"] & T_C_DELITO == "CONSUMADO"',
         inplace = True)
df

,NREDS,COD_DIAO,T_C,COD_DELITO,T_C_DELITO,DATA_FATO,CIA,UEOP,QTDE_ENVOL
20,2019-000055656-001,B01121,TENTADO,B01121,CONSUMADO,2019-01-01,118ª CIA,07º BPM,1
24,2019-000105837-001,B01121,CONSUMADO,B01121,CONSUMADO,2019-01-01,107ª CIA,07º BPM,1
25,2019-000105837-001,B01121,CONSUMADO,B01121,CONSUMADO,2019-01-01,107ª CIA,07º BPM,1
58,2019-000423671-001,B01121,CONSUMADO,B01121,CONSUMADO,2019-01-03,279ª CIA,60º BPM,1
59,2019-000423671-001,B01121,CONSUMADO,B01121,CONSUMADO,2019-01-03,279ª CIA,60º BPM,1
...,...,...,...,...,...,...,...,...,...
12801,2020-028895311-001,B01121,CONSUMADO,B01129,CONSUMADO,2020-06-16,19ª CIA PM IND,19ª CIA PM IND,1
12846,2020-029479260-001,B01121,CONSUMADO,B01121,CONSUMADO,2020-06-19,19ª CIA PM IND,19ª CIA PM IND,1
12847,2020-029479260-001,B01121,CONSUMADO,B01121,CONSUMADO,2020-06-19,19ª CIA PM IND,19ª CIA PM IND,1
12848,2020-029479260-001,B01121,CONSUMADO,B01121,CONSUMADO,2020-06-19,19ª CIA PM IND,19ª CIA PM IND,1
12849,2020-029479260-001,B01121,CONSUMADO,B01121,CONSUMADO,2020-06-19,19ª CIA PM IND,19ª CIA PM IND,1

In [63]:
start_date = '2020-01-01'
pd.to_datetime(start_date, format='%d/%m/%Y', errors = 'coerce').dt.date
end_date = '2020-12-31'
df.query(['DATA_FATO'] == start_date,  inplace = True)
#df.query(['DATA_FATO'] > start_date & ['DATA_FATO'] <= end_date, inplace = True)
df

AttributeError: 'NaTType' object has no attribute 'dt'

In [109]:
df['DATA_FATO'] = pd.to_datetime(df['DATA_FATO'], format='%d/%m/%Y', errors = 'coerce').dt.date
#df['DATA_FATO']

In [119]:
start_date = '2020-01-01'
pd.to_datetime('2020-01-01', format='%Y-%m-%d', errors = 'coerce').dt.date

AttributeError: 'Timestamp' object has no attribute 'dt'

In [74]:
#df['DATA_FATO']=pd.to_datetime(df['DATA_FATO'], format='%Y-%m-%d')

date_init = '2020-01-01' # Infome da  data inicial da pesquisa
date_end = '2020-12-31' # Infome da  data final da pesquisa

datetime.strptime(date_init, '%Y-%m-%d')

datetime.strptime(date_end, '%Y-%m-%d')

df = df.loc[(df['DATA_FATO']>=date_init) & (df['DATA_FATO']<date_end)]

In [71]:

df

,NREDS,COD_DIAO,T_C,COD_DELITO,T_C_DELITO,DATA_FATO,CIA,UEOP,QTDE_ENVOL
9353,2020-000024038-001,B01121,CONSUMADO,B01121,CONSUMADO,2020-01-01,290ª CIA,63º BPM,1
9354,2020-000024038-001,B01121,CONSUMADO,B01121,CONSUMADO,2020-01-01,290ª CIA,63º BPM,1
9355,2020-000024038-001,B01121,CONSUMADO,B01121,CONSUMADO,2020-01-01,290ª CIA,63º BPM,1
9356,2020-000024038-001,B01121,CONSUMADO,B01121,CONSUMADO,2020-01-01,290ª CIA,63º BPM,1
9357,2020-000024038-001,B01121,CONSUMADO,B01121,CONSUMADO,2020-01-01,290ª CIA,63º BPM,1
...,...,...,...,...,...,...,...,...,...
12801,2020-028895311-001,B01121,CONSUMADO,B01129,CONSUMADO,2020-06-16,19ª CIA PM IND,19ª CIA PM IND,1
12846,2020-029479260-001,B01121,CONSUMADO,B01121,CONSUMADO,2020-06-19,19ª CIA PM IND,19ª CIA PM IND,1
12847,2020-029479260-001,B01121,CONSUMADO,B01121,CONSUMADO,2020-06-19,19ª CIA PM IND,19ª CIA PM IND,1
12848,2020-029479260-001,B01121,CONSUMADO,B01121,CONSUMADO,2020-06-19,19ª CIA PM IND,19ª CIA PM IND,1
12849,2020-029479260-001,B01121,CONSUMADO,B01121,CONSUMADO,2020-06-19,19ª CIA PM IND,19ª CIA PM IND,1

In [2]:
df

NameError: name 'df' is not defined

In [109]:
date_init = '2020-01-01' # Infome da  data inicial da pesquisa
date_end = '2020-12-31' # Infome da  data final da pesquisa

datetime.strptime(date_init, '%Y-%m-%d')

datetime.strptime(date_end, '%Y-%m-%d')

df.query = df.loc[(df['DATA_FATO']>=date_init) & (df['DATA_FATO']<date_end)]

df.query('COD_DIAO == "B01121" & T_C == "CONSUMADO" | COD_DELITO in ["B01121"] & T_C_DELITO == "CONSUMADO"',
         inplace = False)

df

TypeError: 'DataFrame' object is not callable